* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}

body {
    background: #061c28; /* Cambia el color de fondo a azul noche */
    color: #27fe41; /* Cambia el color del texto a blanco */
    transition: background-color 0.3s, color 0.3s;
    font-size: 20px;
}

/* Estilos para el artículo */
.article {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

/* Estilos para el formulario */
.form {
    border: 1px solid #000; /* Cambia el borde a negro */
    border-radius: 20px;
    text-align: center;
    background-color: #0e3344; /* Cambia el fondo del formulario a azul noche */
    padding: 2rem; /* Aumenta el espaciado interno */
}

/* Estilo para el placeholder del input */
#monto {
    width: 80%;
    padding: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #0e3344; /* Cambia el fondo del input a azul noche */
    color: #fff; /* Cambia el color del texto a blanco */
    border: 1px solid #000; /* Cambia el borde a negro */
}

h1, p {
    padding: 1rem;
    color: #fff; /* Cambia el color del texto a blanco */
}

#cotizador {
    padding: 0.5rem;
    margin: 1rem;
    background-color: #0e3344; /* Cambia el fondo del botón a azul noche */
    color: #fff; /* Cambia el color del texto a blanco */
    border: 1px solid #000; /* Cambia el borde a negro */
}

.total-tittle {
    padding: 0.5rem;
    color: #fff; /* Cambia el color del texto a blanco */
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #000; /* Cambia el borde a negro */
    width: 25%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #fff; /* Cambia el color del texto a blanco */
    text-decoration: none;
    cursor: pointer;
}

.btn-group {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    flex-wrap: wrap;
}

.btn-group .btn {
    border: 0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #0e3344; /* Cambia el fondo del botón a azul noche */
    color: #fff; /* Cambia el color del texto a blanco */
}

.btn-group .btn:hover {
    background-color: #3d3a3b;
}

.dark-mode .btn-group .btn {
    background-color: #100f2c; /* Cambia el fondo del botón oscuro a azul noche más oscuro */
}